
body{
    /*margin 0; */
    background-color: rgb(212, 212, 189) ;
    display: flex;
    flex-direction: column;
    
}
.titulo{ 
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px rgb(22, 22, 10);
    justify-content: center;
}

.titulo *{
    justify-content: center;
    
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    background-color: rgb(32, 30, 34);
    border-radius: 10px;
    border: solid 2px rgb(12, 12, 1);
}
.flex-container *{
    display: flex;
    flex: 1;
    color: whitesmoke;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background: rgb(59, 61, 53);
    justify-content: center ;
}
footer{
    display: flex;
 justify-content: end;
}
h1{
    font-family: cursive;
    color: aliceblue;
    display: flex;
    justify-content: center;
    background-color: rgb(59, 61, 53);
    }
